.editor-block {
  position: absolute;
}
.editor-block-focus {
  &::after {
    content: "";
    position: absolute;
    left: -4px;
    top: -4px;
    padding: 4px;
    width: 100%;
    height: 100%;
    border: 1px red dashed;
  }
}
