@import "@/assets/style/constant.scss";
.editor {
  &-left, &-right {
    position: absolute;
    width: $left-width;
    background-color: $base-bg-color;
    top: 0;
    bottom: 0;
    overflow: auto;
  }

  &-left {
    left: 0;
    background-color: $base-bg-color;
    &-item {
      position: relative;
      width: 95%;
      margin: 20px auto;
      height: 160px;
      border: #747bff 1px solid;
      cursor: move;
      .item-label {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 20px;
        color: #ffffff;
        padding: 10px;
        border-bottom-right-radius: 20px;
        background-color: rgb(134, 172, 196);
      }
      .item-component {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #1a1a1a;
        opacity: 0.1;
        z-index: 999;
      }
    }
  }

  &-top {
    position: absolute;
    left: $left-width;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $top-height;
    width: calc(100vw - $left-width - $right-width);
    background-color: #e8eddf;
    &-item {
      width: 80px;
      height: 80px;
      border-radius: 10px;
      background-color: #dedbd2;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #4a5759;
      user-select: none;
      cursor: pointer;
      &+& {
        margin-left: 20px;
      }
      .item-icon{
        font-size: 30px;
      }
      .item-label{
        color: #1a1a1a;
      }
    }
  }

  &-right {
    right: 0;
    background-color: #efefef;
  }

  &-wrapper {
    position: absolute;
    left: $left-width;
    right: $right-width;
    top: 120px;
    box-sizing: border-box;
    width: calc(100vw - $left-width - $right-width);
    height: calc(100vh - $top-height);
    overflow: auto;
    .line-y {
      position: absolute;
      left: 0;
      right: 0;
      border: 1px red dashed;
      z-index: 999;
    }
    .line-x {
      position: absolute;
      top: 0;
      bottom: 0;
      border: 1px red dashed;
      z-index: 999;
    }
    &-content {
      width: 1980px;
      height: 1080px;
      position: relative;
      background-color: #dedbd2;
    }
  }
}
